boto3==1.28.59
fastapi~=0.104.1
fastapi-exceptionshandler==0.0.3
fastapi-versioning==0.10.0
opensearch-logger==1.2.3
pydantic==2.5.1
pydantic-settings==2.1.0
pyhumps==3.8.0
requests_aws4auth==1.2.3
SQLAlchemy~=2.0.23
starlette==0.32.0.post1
starlette-context==0.3.6
fastapi_routesmanager==0.0.3
mangum==0.17.0
requests_aws4auth==1.2.3
mangum-extra-handlers==0.0.1
